PORT=3000
DATABASE_URL="postgresql://postgres:123456@localhost:5432/analytica_task_management_db?schema=public"
JWT_SECRET="change-me-later"
DEMO_ADMIN_NAME="Admin User"
DEMO_ADMIN_EMAIL="admin@analytica.local"
DEMO_ADMIN_PASSWORD="Admin123!"
DEMO_USER_NAME="Normal User"
DEMO_USER_EMAIL="user@analytica.local"
DEMO_USER_PASSWORD="User123!"
