POSTGRES_DB="analytica_task_management_db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="123456"
POSTGRES_PORT=5432
PORT=5000
DATABASE_URL="postgresql://postgres:123456@localhost:5432/analytica_task_management_db?schema=public"
# you can generate new secret with openssl - `openssl rand -hex 64`
JWT_SECRET="b01c7fdf290e0ec7bca52070c6a7e70f4050d5f32bb24653ac767e7d90b1bb0a43c26340ddbd35af5a1313640b46be31a7f52a9333f978e4e3c83f564b2ef339" 
DEMO_ADMIN_NAME="Admin User"
DEMO_ADMIN_EMAIL="admin@analytica.local"
DEMO_ADMIN_PASSWORD="Admin123!"
DEMO_USER_NAME="Normal User"
DEMO_USER_EMAIL="user@analytica.local"
DEMO_USER_PASSWORD="User123!"
